@model IEnumerable<IdentityRole>

<h1>Auths</h1>

<a asp-action="Create">Add new auth</a>

<table class="table table-bordered">
    <tr class="bg-primary text-center text-white">
        <th>Id</th>
        <th>Name</th>
        <th>Members</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="5" class="text-center">No Roles</td>
        </tr>
    }
    else
    {
        foreach (var auth in Model)
        {
            <tr>
                <td>@auth.Id</td>
                <td>@auth.Name</td>
                <td>members</td>
                <td>
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@auth.Id">Edit</a>
                </td>
                <td>
                    <a class="btn btn-sm btn-warning" asp-action="Delete" asp-route-id="@auth.Id">Delete</a>
                </td>
            </tr>
        }
    }
</table>