@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4>Kitaps'a hoşgeldin, en uygun fiyatlarda kitaplara ulaşmak için hemen üye olup kategoriler üzerinden alımına başlayabilirsin!</h4>
</div>
